body {
    background-color: #000;
}

ul {
    display: flex;
}
ul li {
    list-style-type: none;
    margin-right: 15px;
}
ul li a {
    display: flex;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
}

.russian-teach,
.premium-tarif,
.additional-practice,
.english-tech {
    display: none;
}

.card-item {
    flex: 0 1 15%;
    background-color: #ffffff;
    margin-right: 15px;
    padding: 10px;
}

.main {
    display: flex;
}
.row-item {
    display: flex;
    align-items: center;
}
